.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }

    .card {
        margin: 2% 0 !important;
    }
} 
